# Compiled source #
###################
*.o
brogue.exe

# OS garbage #
##############
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# Xcode garbage #
#################
*.xcuserstate
*.xcbkptlist

# Brogue junk #
###############
*.broguesave
*.broguerec
BrogueHighScores.txt
